.style-canvas {
  border: 2px solid var(--ion-color-medium-shade);
  display: block;
  overflow: hidden;
}

.popover-style .popover-content {
  --min-width: 320px !important;
}

.popover-content {
  display: block;
  padding: 1em;
}

.popover-content input[type="text"] {
  border: 1px solid #ccc;
  /* css 3 */
  border-radius: 8px 8px 8px 8px;
  /* mozilla */
  -moz-border-radius: 8px 8px 8px 8px;
  /* webkit */
  -webkit-border-radius: 8px 8px 8px 8px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 5px;
}

.time {
  padding-left: 0.5em;
}

.item-content {
  max-width: 60% !important;
  min-width: 60% !important;
  text-align: right;
  float: right;
}

@media only screen and (min-width: 768px) {
  .item-content {
    max-width: 75% !important;
    min-width: 75% !important;
    text-align: left;
    float: left;
  }
}

.list-icon {
  padding-right: 0.5em;
}

.dark .footer {
  color: white;
}

.footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
  font-weight: normal;
  color: var(--ion-color-medium-shade);
}
